<form method="POST" action="/albums">
  <div>
    <label>Album title</label>
    <input type="text" name="title" />
  </div>

  <div>
  <label>Album release year</label>
  <input type="text" name="release_year" />
  </div>

  <div>
  <label>Album artist ID</label>
  <input type="text" name="artist_id" />
  </div>

  <input type="submit" />
</form>